* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.game-list {
    display: flex;
    /* flex-direction: ; */
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: calc(50% - 10px);
    text-align: center;
}

.game-item h2 {
    font-size: 1.5rem;
    color: #444;
}

.game-item p {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

a.startGame {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

a.startGame:hover {
    background-color: #218838;
}
