
  
  <div class="error-page text-center">
    <h2 class="headline text-yellow"> 404</h2>
    <div>
      <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
      <p> Xin lỗi, địa chỉ trang bạ truy cập không tồn tại trong hệ thống của chúng tôi, bạn có thể<a ng-href="#!/"> về trang chủ </a> hoặc thử tìm kiếm thông tin bạn cần ở form dưới </p>
      <form class="search-form">
        <div class="input-group">
          <input name="search" class="form-control" placeholder="Search" type="text">
          <div class="input-group-btn">
            <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i> </button>
          </div>
        </div>
        <!-- /.input-group -->
      </form>
    </div>
    <!-- /.error-content --> 
  </div>
  <div class="lockscreen-footer text-center m-t-3"> Copyright © 2018 LNA - luongit.github.io. All rights reserved. </div>

